header {
    display: flex;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    box-shadow: 0 4px 4px rgba(16, 11, 188, 0.4);
    box-sizing: border-box;
}

header .logo {
    position: relative;
    font-size: 1.5em;
    color: #0045CD;
    text-decoration: none;
    font-weight: 600;

}

header.modeActive {
    /* color: white;
    background: #151515; */
    /* opacity: 0.7; */
}

/* header.modeActive .logo{
    color: white;
} */

header .navigation ul {
    height: 80px;
    background: red;
    justify-content: center;
    align-items: center;
}

header .navigation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

header .navigation span {
    display: none;
}

header .navigation i {
    display: none;
}

header .navigation li {
    list-style: none;
    margin: 0 50px;
    gap: 150px;
}

header .navigation li a {
    color: #151515;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: .875rem;
    font-style: normal;
    font-weight: 600;
    letter-spacing: .03125rem;
    line-height: 1.4;
    font-family: "CircularStd-Bold", Arial, sans-serif;
}

header .navigation li a:hover {
    color: blue;
}

header .signIn {
    margin-right: 10px;
    border: none;
}

header .signUp {
    border: 1px solid blue;
    border-radius: 5px;
    padding: 20px 10px;
}
/* header.modeActive .signIn{
    color: #fff;
    border: none;
}
header.modeActive .signUp{
    color: #fff;
    border: 1px solid #fff;
} */

header .login button {
    padding: 10px 15px;
    font-size: 15px;
    font-weight: 600;
    color: blue;
    opacity: 0.7;
    background: inherit;
    cursor: pointer;
}


header .login button:hover {
    opacity: 1;
}

header .toggle {
    display: none;
}

header .active {
    display: none;
}

.bankingText {
    display: none;
}

.navigation li.banking:hover .bankingText {
    display: flex;
    gap: 50px;
    position: absolute;
    top: 80px;
    left: 10px;
    padding: 20px 20px;
    z-index: 1000;
    color: black;
    background: white;
    width: 100%;
    min-height: 300px;
    box-sizing: border-box;
    overflow: hidden;
    padding-bottom: 50px;
}


.bankingText p {
    padding-top: 20px;
    font-size: 15px;
}

.bankingText div {
    width: 24%;
    padding-right: 50px;
}

.bankingText div:nth-child(1),
.bankingText div:nth-child(2),
.bankingText div:nth-child(3) {
    border-right: 1px solid #0045CD;
}

.mode{
    position: absolute;
    right: 30px;
}

input[type="checkbox"]{
    -webkit-appearance: none;
    visibility: hidden;
    display: none;
}

.check{
    position: relative;
    display: block;
    width: 40px;
    height: 20px;
    background: #0045CD;
    cursor: pointer;
    border-radius: 20px;
    overflow: hidden;
    transition: ease-in 0.4s;
}

.check::before{
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    background: #fff;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    /* transition: 0.1s; */
}

input[type="checkbox"]:checked ~ .check{
    background: #0045CD;
    /* box-shadow: 0 0 0 2000px black; */
    /* opacity: 0.4; */
    z-index: 1000;
}

input[type="checkbox"]:checked ~ .check::before{
    transform: translateX(-50px);
}

.check::after{
    content: "";
    position: absolute;
    top: 2px;
    right: 2px;
    background: #fff;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    /* transition: 0.1s; */
    transform: translateX(50px);
}

input[type="checkbox"]:checked ~ .check::after{
    transform: translateX(0px);
}


@media (max-width: 1400px) {
    header .navigation {
        display: none;
    }

    header.modeActive li span{
        color: black;
    }

    /* header .active .modeActive{
        background: black;
        font-size: 150px;
    } */

    header .active {
        position: absolute;
        top: 65px;
        left: 0;
        display: flex;
        flex-direction: column;
        width: 400px;
        height: 800px;
        background: white;
        z-index: 100;
    }

    header .active li {
        align-items: left;
        justify-content: left;
        margin: 20px 20px;
        padding: 10px 10px;
        display: flex;
        font-size: 20px;
        box-shadow: 0 4px 4px rgba(16, 11, 188, 0.4);
        overflow: hidden;
        border-radius: 5px;
    }

    header .active li a {
        text-decoration: none;
        color: black;
    }

    header .login {
        position: absolute;
        right: 125px;
    }

    header .toggle {
        display: block;
        position: absolute;
        left: 20px;
        font-size: 20px;
        cursor: pointer;
    }

    .active span {
        margin-right: 10px;
        font-size: 24px;
    }

    .active li i {
        margin-left: auto;
        color: #0045CD;
        cursor: pointer;
    }
}