.popup {
    position: absolute;
    top: 90px;
    left: 150px;
    margin: auto auto;
    width: 80%;
    height: 80vh;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    background: #F3F4F8;
    z-index: 10;
}

.popupText {
    position: relative;
    padding: 30px;
    width: 100%;
}

.popupText .close {
    position: absolute;
    top: 15px;
    right: 15px;
}

.popupText button{
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

@media (max-width: 1400px) {
    .popup {
        display: flex;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
    }
} 