table{
    background: white;
    width: 100%;
}
table tr {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

table th {
    display: flex;
    justify-content: space-between;
    width: 130px;
}

table td {
    display: flex;
    width: 130px;
    justify-content: space-between;
    margin-left: 0px;
}

@media (max-width: 1400px) {
    .table {
        width: 90%;
        height: 90vh;
        left: 0;
    }
} 
